{% extends 'useraccount/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block main %}

<style>
    .blog-posts{
    max-width: 500px;
    width: 100%;
    margin: auto;
  }
</style>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top"
                {% if user.picture %}
             src="{{ user.picture.url }}"
                {% else %}
             src="/static/images/231076-1908_FPT_202680_base.jpg"
                {% endif %}
             alt="Card image cap">

        <form action="{% url 'upload_picture' %}" method="post" class="form-control" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="picture">
            <button type="submit" class="btn btn-primary">Upload profile avatar</button>
        </form>


        <form action="{% url 'save_changes' %}" method="post" class="form-control">
            {{ form }}
            {% csrf_token %}
            <button type="submit" name="user_id" class="btn btn-primary btn-block" value={{ user.id }}>
                Save changes
            </button>

<!--            <div class="toast toast--visible toast--success ">Simple toast message</div>-->

            Toast.show('Must be authenticate', 'error');
            <script src="{% static 'js/toastr.js' %}"></script>
        </form>

        <form action="{% url 'account' %}" method="post" class="form-control">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            {{ delete_form|crispy }}
            <button type="submit" class="btn btn-primary btn-block">Delete account</button>
        </form>

        <a class="m-auto" href="{% url 'password_change' %}">Change password</a>
        <a href="{% url 'home' %}" class="btn btn-primary">Main page</a>
    </div>


<div class="container mt-4 p-4">
    <div class="row">
        <div class="blog-posts">
            <h3 class="mb-3 font-weight-normal">Blog posts:</h3>
            {% if blog_posts %}
                <ul class="list-group">
                    {% for post in blog_posts %}
                    <a href="{% url 'article:detail' post.slug %}" style="text-decoration: none;">
                        <li class="list-group-item">{{post}}</li>
                    </a>
                    {% endfor %}
                </ul>
            {% else %}
                <p>You have no blog posts. Create a post <a href="{% url 'article:create' %}">here</a>.</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}